 * {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin: 0px;
}

span {
  color: #ed458b;
  font-weight: 700;
}

h1 {
  background-color: #404041;
  color: #e6e7e8;
  font-size: 32px;
  padding: 10px 0 10px 0;
  text-align: center;
  width: 100%;
}

h4 {
  text-align: center;
}

#get-guess {
  color: #404041;
  font-size: 28px;
  height: 40px;
  margin-left: 2%;
  margin-right: 2%;
  margin-top: 14px;
  width: 94%;
}

button {
  background-color: #929497;
  border-radius: 20px;
  border: none;
  color: #ffffff;
  font-size: 28px;
  height: 40px;
  margin: 3%;
  width: 94%;
}

button:focus {
  outline: none;
}

button:disabled {
  background-color: #d0d2d3;
  color: #ffffff;
}

button:hover {
  background-color:#eb008b
}

.guess-display {
  color: #eb008b;
  font-size: 160px;
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  text-align: center;
  width: 250px;
}

.message-to-user {
  font-size: 16px;
  text-align: center;
}

@media screen and (min-width: 400px) {
  #GET-guess {
    display: block;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
    width: 340px;
  }

  button {
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
  }

  div {
    margin-left: auto;
    margin-right: auto;
    width: 346px;
  }

  .reset-button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 320px;
  }

}
