body {
  text-align: center;
}

span {
  color: #ed458b;
  font-family: 'Open Sans', bold, sans-serif;
  padding: 40px;
  margin: auto;
}

h1 {
  font-family: 'Open Sans', sans-serif;
  background-color: #404041;
  color: #e6e7e8
  padding: 40px;
  font-weight: 300;
}

button {
  background-color: #ed458b;
}

button {
  background-color: #D0D2D3;
  color: #FFFFFF;
  border:
}

//

.guess-display {
  border: 1px solid black;
  height: 250px;
  width: 250px;
  margin-left: auto;
  margin-right: auto;
}
